---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Frederick Charles Krueger, pero todos me llaman Freddy. Empecé en los sustos desde muy pequeño. Actualmente estoy <strong
        >creando contenido y participando en videojuegos</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >entrar en los sueños de los adolescentes de Springwood y vengarme de sus padres</strong
      >. Aunque hoy allí no me recuerda mucha gente, es un poco mi culpa por cargárme a los que me conocían.
    </p>

    <p>
      Como creador de contenido, <strong
        >cuento con el canal terror más visto del mundo en la
        categoría de <em class="italic">Pesadillas y Matasión</em> en Twitch</strong
      >. Mi objetivo es volver que todos me conozcan y seguir con mis tareas terroríficas.
    </p>
  </div>

  <img width="200" height="200" src="/me.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>